[submodule "auth-service"]
	path = auth-service
	url = git@github.com:cloud-1401-project/auth-service.git
	branch = master
[submodule "product_service"]
	path = product_service
	url = git@github.com:cloud-1401-project/product_service.git
	branch = main
